{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/li__1_-removebg-preview.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>

    <title>Ligi Open News</title>
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
</head>
   
<body>
  {% include 'navbar.html' %}

    {% for news in news_items %}
    <div class="news-item">
        <h2 class="news-title">{{ news.title }}</h2>
        <div class="news-meta">
            <p>By: {{ news.author }}</p>
            <p>Published on: {{ news.date }}</p>
            <p>Categories: {{ news.categories|join:", " }}</p>
            <p>Archives: {{ news.archives }}</p>
        </div>
        <div class="news-content">
            {{ news.content|safe }}
        </div>
    </div>
    {% endfor %}

  {% include 'footer.html' %}

</body>
</html>
