{% load static %}
<head>
  <!-- Owl carousel -->
  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css" />

  <!-- CSS Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/partners.css' %}" />
</head>

<div class="owl-carousel">
  <img
    src="{% static 'images/partners/jabulani_logo.png' %}"
    class="partners"
  />

  <img
    src="{% static 'images/partners/st_john_ambulance.png' %}"
    class="partners"
  />
</div>

<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script>
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel();
  });
</script>
