{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/li__1_-removebg-preview.ico' %}">
    <title>Ligi Open Shop</title>
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Sorting Options -->
    <div class="sort-container">
        <form method="get" action="">
            <select name="sort" onchange="this.form.submit()">
                <option value="price_asc">Price (Low to High)</option>
                <option value="price_desc">Price (High to Low)</option>
                <option value="name">Name</option>
            </select>
        </form>
    </div>

    <!-- Latest Products Section -->
    <div class="latest-products">
        <h2>LigiOpen Merchandise</h2>
        <div class="items-container">
            {% for item in latest_items %}
            <div class="item">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <p>Price: ${{ item.price }}</p>
                <p>Stock: {{ item.stock }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- All Items Section -->
    <div class="items-container">
        {% for item in items %}
        <div class="item">
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p>Price: ${{ item.price }}</p>
            <p>Stock: {{ item.stock }}</p>
            <form action="{% url 'add_to_cart' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
