[Unit]
Description=Ligiopen Spring Boot Development %i Service
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
ExecStart=/usr/bin/java -jar -Dserver.port=%i /home/pipeline/production/ligiopen_dev/ligiopen
WorkingDirectory=/home/pipeline/production/ligiopen_dev
User=pipeline
Group=pipeline
Environment="APP_PORT=%i"
EnvironmentFile=/etc/env/ligiopen_dev.env
LimitNOFILE=65536
Restart=on-failure
RestartSec=10
TimeoutSec=30
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/home/pipeline/logs/ligiopen_dev /tmp
NoNewPrivileges=true
StandardOutput=file:/home/pipeline/logs/ligiopen_dev/output-%i.log
StandardError=file:/home/pipeline/logs/ligiopen_dev/error-%i.log

[Install]
WantedBy=multi-user.target
