{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LigiOpen | Login</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="main-content">
      <div class="image"></div>
      <div class="login-container">
        <h1 class="logo">Ligiopen</h1>
        <h5 class="subtitle">Log in to your account</h5>
        <form id="loginForm" action="#" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label>Email id :</label>
            <!-- For the email input -->
            <div class="input-container">
              <input
                type="email"
                name="email"
                placeholder="info@provistechnologies.com"
              />
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                ></path>
                <polyline points="22,6 12,13 2,6"></polyline>
              </svg>
            </div>
          </div>

          <div class="form-group">
            <label>Password :</label>
            <!-- For the password input -->
            <div class="input-container">
              <input
                type="password"
                name="password"
                placeholder="Enter your password"
              />
              <svg
                class="icon"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
              >
                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
              </svg>
            </div>
          </div>
          <button class="login-btn">Login now</button>
        </form>
        <div class="forgot-password">
          <a href="#">Forgot password?</a>
        </div>
        <div class="divider">
          <span>OR</span>
        </div>
        <form action="{% url 'signup' %}" method="GET">
          <button type="submit" class="signup-btn">Sign up</button>
        </form>
      </div>
    </div>
    {% include 'footer.html' %}

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
