@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: black;
    --light-color: grey;
    --white: #F6F2F2;
    --blue: #4169E1;
    --fern-green:#4F7942;
    --yellow: #FFFF00;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.sub-heading {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

.container-all {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-right: 50px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input {
    width: 48%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: .1rem solid var(--black);
}

.search-container input:focus {
    border-color: var(--green);
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
}

.filters select:hover {
    cursor: pointer;
}

.filters label, .filters select, .filters button {
    margin-right: 10px;
}

.filters button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background-color: var(--black);
}

table {
    font-size: 2rem;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: w;
}

table, th, td {
    border: 1px solid #dddddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    color: var(--black);
}

td img {
    width: 70px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .container-all {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .search-container {
        margin-top: 30px;
    }
}

@media (max-width: 992px) {
    .search-container input {
        width: 60%;
    }

    .filters label, .filters select, .filters button {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .search-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container input {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 2.5rem;
    }

    th, td {
        font-size: 1.6rem;
    }

    td img {
        width: 50px;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 40%;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters label {
        font-size: 1.2rem;
    }

    td {
        text-align: center;
    }

    tr img {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .container-all {
        margin: 0;
    }
}

@media (max-width: 335px) {
    .container-all {
        padding-left: 10px;
    }
}