@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --light-color: grey;
    --blue: #1ca9c9;
    --red: #FF0000;
    --fern-green: #4F7942;
    --russian-green: #679267;
    --pacific-blue: #1ca9c9;
    --white: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    display: none;
}

section.live {
    display: block;
    margin-top: 9%;
}

.sub-heading {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

/*Header section */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}

header .navbar, .navbar2 {
    padding: 10px 0;
}

header .navbar a , .navbar2 a{
    font-size: 1.7rem;
    border-radius: .5rem;
    color: black;
    padding: .5rem 1.5rem;
}

header .navbar a.active, .matches .navbar2 a.active, .matches .navbar2 a:hover, header .navbar a:hover {
    font-weight: bold;
    background: var(--black);
}

header .icons i {
    cursor: pointer;
    margin-left: 5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header img {
    width: 70px;
    height: 70px;
}

header .icons i:hover {
    color: #fff;
    background: var(--blue);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

section.live {
    display: block;
    margin-top: 5%;
}

section {
    background-color: #eee;
}

/*Teams section*/

.team {
    padding: 3% 9%;
}

.team .top-logo {
    width: 100%;
    text-align: center;
}

.team .top-logo .logo {
    width: 100px;
    height: 100px;
}

.teams .container {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.teams .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.teams .col-lg-3 {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 15px;
    padding: 10px 0;
    background-color: white;
    border: .1rem solid var(--light-color);
}

.teams img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.teams .other {
    margin-top: 5%;
}

.team-member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teams .inner-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Matches section*/
.matches {
    padding: 5% 9%;
    background-color: #eee;
}

.team-fixtures {
    position: relative;
    margin-top: 30px;
}

.fixtures-container {
    display: flex;
    flex-direction: column;
}
  
.fixture {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.fixture .team-comp {
    font-weight: bold;
}
  
.fixture-date {
    font-weight: bold;
    font-size: 1.2rem;
}
  
.fixture-opponent {
    margin-top: 5px;
    font-size: 2.0rem;
}
  
.fixture-venue {
    margin-top: 5px;
    font-style: italic;
}

/*Results section*/

.results-section {
    font-size: 2rem;
    margin-top: 30px;
}

.results-section .container {
    margin: 0 auto;
}

.results-section .fixture {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results-section .fixture .inner-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.results-section  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-section .fixture .date {
    text-align: center;
}

.results-section .fixtures .team span {
    margin-top: 10px;
}

.results-section  .team img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.results-section  .team-name {
    font-weight: bold;
    margin-right: 10px;
}

.results-section .vs {
    font-size: 2rem;
    margin-right: 10px;
    border: 1px solid var(--light-color);
    padding: 10px;
    width: 100%;
}

.results-section .date {
    font-size: 14px;
}

.results-section .date .date-fix, .venue {
    font-weight: bold;
    margin-top: 5px;
}

.results-section .date .comp {
    color: var(--light-color);
}  

.results-section .goal-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0 9%;
    margin-top: 20px;
    color: var(--light-color);
    font-weight: bold;
}

.results-section .goal-details i {
    color: var(--black);
}

.results-section .demo {
    text-align: center;
}

.results-section .demo .venue {
    flex-wrap: wrap;
}

.team-member {
    position: relative;
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9; /* Optional: Add background color */
    overflow: hidden; /* Ensures player details are hidden initially */
  }
  
  .player-photo {
    position: relative;
    overflow: hidden;
  }
  
  .player-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .player-photo:hover .player-details {
    transform: translateY(0);
  }
  
  .player-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .player-details p {
    font-size: 16px;
    color: #777;
    margin-bottom: 5px;
  }
  
  .inner-div {
    padding-top: 10px;
  }
  
  .underline-button {
    color: #007bff; /* Link color */
    text-decoration: none;
  }
  
  .underline-button:hover {
    text-decoration: underline;
  }
  

/*Stats section*/
.stats {
    padding: 5% 9%;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  table {
    font-size: 1.5rem;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    background-color: white;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  /* Alternate row colors */
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

/*Footer section*/
/*Footer section*/
.footer {
    display: block;
    padding: 2rem 9%;
    background-color:#4F7942;
    color: white;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    color: white;
    font-size: 1.5rem;
}

.footer .box-container .box a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}

@media (max-width: 1100px) {
    .live {
        padding-top: 10%;
    }
}

@media (max-width: 1024px) {
    table {
      font-size: 1.3rem;
    }

    th, td {
      padding: 6px;
    }
}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 940px) {
    .careers .jobs-list-container .jobs {
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 910px) {
    .teams .col-lg-3 {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }

    .players img {
        height: fit-content;
    }
}

@media (max-width: 830px) {
    .live {
        padding-top: 15%;
    }
}

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    .stats {
        padding-left: 3%;
        padding-right: 3%;
    }

    table {
        font-size: 1.1rem;
    }
  
    th, td {
        padding: 5px;
    }
}
  
@media (max-width: 640px) {
    .careers .jobs-list-container .jobs {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
}

@media (max-width: 620px) {
    .live {
        padding-top: 20%;
    }
}

@media (max-width: 600px) {
    .teams .col-lg-3 {
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    .teams .container {
        padding: 0 15px;
    }

    .results-section .goal-details {
        padding: 0 5%;
        font-size: 1.2rem;
    }

    .fixture {
        flex-direction: column;
    }

    .fixture .holder {
        align-self: flex-start;
    }

    .ticket {
        margin-right: 0;
        font-size: 2rem;
    }

}

@media (max-width: 570px){
    .footer .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer .box-container > * {
        width: 100%; 
    }

    .footer .box-container .box a {
        font-size: 2rem; 
    }
}

@media (max-width: 500px) {
    .live {
        padding-top: 25%;
    }

    table img {
        display: none;
    }

    table .col-1 {
        display: inline;
    }
}

@media (max-width: 480px) {
    .results-section .demo {
        width: 100%;
    }
    .results-section .demo .vs {
        font-size: 1.5rem;
    }

    .results-section .demo .venue {
        font-size: 1.5rem;
    }

    .stats {
        padding-left: 5px;
        padding-right: 5px;
    }

    table {
        font-size: 1rem;
    }
  
    th, td {
        padding: 4px;
    }
}

@media (max-width: 462px) {
    .results-section .container {
        padding: 0 5px;
    }

    .results-section .inner-team img {
        width: 50px;
        height: 50px;
    }

    .results-section .team-name {
        font-size: 1.2rem;
    }

    .results-section .demo .venue {
        font-size: 1.1rem;
    }

    .results-section .goal-details {
        font-size: 1.0rem;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }
}

@media (max-width: 400px) {
    .live {
        padding-top: 30%;
    }
}

@media (max-width: 376px) {
    .results-section .demo .vs {
        padding: 3px;
    }
}

@media (max-width: 346px) {
    .results-section .inner-team img {
        width: 40px;
        height: 40px;
    }

    .results-section .team-name {
        font-size: 1.2rem;
    }

    .results-section .demo .venue {
        font-size: 1.1rem;
    }
}

@media (max-width: 340px) {
    .live {
        padding-top: 35%;
    }
}