@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --black: black;
  --light-color: grey;
  --white: #F6F2F2;
  --blue: #4169E1;
  --red: #FF0000;
  --yellow: #FFFF00;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html, body {
    background: #eee;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.body {
  display: grid;
  height: 70vh;
  place-items: center;
}

.sub-heading {
    text-align: center;
    font-size: 2rem;

}

.heading {
  margin-top: 50px;
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  text-transform: uppercase;
}

.container{
  position: relative;
  width: 400px;
  background: white;
  padding: 20px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.container .post{
  display: none;
}

.container .text{
  font-size: 25px;
  color: var(--black);
  font-weight: 400;
}

.container .star-widget input{
  display: none;
}

.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
  color: #fd4;
}

input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form .header:before{
  content: "I hate it 😡";
}

#rate-2:checked ~ form .header:before{
  content: "I don't like it \2639";
}

#rate-3:checked ~ form .header:before{
  content: "It is awesome 😊";
}

#rate-4:checked ~ form .header:before{
  content: "I just like it 😇";
}

#rate-5:checked ~ form .header:before{
  content: "I just love it, the best 😍";
}

.container form{
  display: none;
}

input:checked ~ form{
  display: block;
}

form {
  text-align: center;
}

form .header{
  width: 100%;
  font-size: 25px;
  color: var(--black);
  font-weight: bold;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}

form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: var(--black);
  border: 1px solid #444;
  background: #eee;
  padding: 10px;
  font-size: 17px;
  resize: none;
}

.textarea textarea:focus{
  border-color: var(--green);
}

form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn {
  height: 100%;
  width: 100%;
  outline: none;
  color: white;
  background-color: var(--blue);
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
  
form .btn:hover{
  background: var(--yellow);
  color: black;
  font-weight: bold;
}

@media (max-width: 991px) {

  html {
      font-size: 55%;
  }
}

@media (max-width: 450px) {

  html {
      font-size: 50%;
  }

  .container {
    width: 300px;
  }

  .star-widget label{
    font-size: 2.7rem;
  }
}