@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: black;
    --light-color: grey;
    --white: #F6F2F2;
    --blue: #4169E1;
    --red: #FF0000;
    --yellow: #FFFF00;
}

/* Basic Reset */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.donation-container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    background-color: white;
}

.donation-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.mpesa-logo {
    width: 100px;
    margin-right: 15px;
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--black);
}

p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: black;
}

ol {
    margin-left: 20px;
    color: black;
    font-size: 1.3rem;
}

ol li {
    margin-bottom: 10px;
}

strong {
    color: #2b5876;
}


@media (max-width: 991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width: 501px) {

    html {
        font-size: 50%;
    }
}