@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --light-color: grey;
    --blue: #4169E1;
    --red: #FF0000;
      --fern-green:#4F7942 ;  
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
}
.navbar-item{
    text-decoration: none;
    margin-right: 10px;
    color: black;
}
.navbar-item:hover{
    color: #fff;
    transition: ease-in-out;
    transition-duration: 2ms;
}

body {
    padding-top: 90px; 
}

.btn-register,.btn-login{
        background-color: var(--blue);
        color: var(--black);
        text-decoration: none;
        margin-right: 10px;
}
.btn-register:hover,.btn-login:hover{
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
    margin-right: 10px;
}

/*Header section */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: capitalize;
}

header img {
    width: 70px;
    height: 70px;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
}

header  a.active, header  a:hover {
    font-weight: bold;
    background: var(--fern-green); 
}

header .icons i {
    cursor: pointer;
    margin-left: 5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons a {
    color: var(--white);
    background-color: var(--black);
    font-size: 1.7rem;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

header .icons a:hover {
    color: #fff;
    background: var(--fern-green);
}

header .icons i:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
}