@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --black: black;
    --light-color: grey;
    --white: #F6F2F2;
    --fern-green: #4F7942;
    --red: #FF0000;
    --fern-green: #4F7942;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    color: black;
}

.sub-heading {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}
.blue-text {
    color: blue;
}
.heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--fern-green);
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 5px;
    text-transform: capitalize;
}

.btn:hover {
    background: var(--yellow);
    color: black;
    letter-spacing: .1rem;
}

.navbar2 {
    padding: 10px 0;
}

.navbar2 a {
    color: black;
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
}

.fixtures .navbar2 a.active, .fixtures .navbar2 a:hover {
    font-weight: 700;
    /* background: var(--black); */
}

/*Home page styles*/
section .home {
    position: absolute;
}

.home .background-image {    
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/player.JPG');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.home .background-image .heading {
    color: var(--white);
    -webkit-backdrop-filter: blur(50px); /* For Safari 9+ */
    backdrop-filter: blur(50px);
    font-weight: bold;
    padding: 0 5px;
}

.home .background-image div {
    text-align: center;
}

/* Poster and general styles */
.home .poster {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.home .poster .header {
    text-align: center;
    margin-bottom: 20px;
}

.home .poster .match-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.home .poster .teams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border: 0.1rem solid var(--light-color);
}

.home .poster .teams .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 7%;
}

.home .poster .team {
    text-align: center;
    font-size: 1.2rem;
}

.home .poster .team img {
    max-width: 200px;
    max-height: 100px;
    border-radius: 10px;
}

.home .poster .vs {
    font-size: 3em;
    font-weight: bold;
}

.home .poster .details {
    text-align: center;
}

.home .poster .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home .poster .logos img {
    max-width: 80px;
    margin: 10px;
}
/* --Tournament section start-- */
.tournament-section{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    background-color: #F87171; 
    height: 400px;
    margin-top: 1px;
}

.tournament-main-content-left{
    width: 33.33333%; 
    background-color:  #4F7942 ;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tournament-left-title{
    color: #f6fa00;
}

.tournament-left-caption{
    margin: 20px 0px 20px 0px;
    font-size: 16px;
    text-align: center;
}

.tournament-left-tickets{
    border-radius: 4rem; 
    font-size: 16px;
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
    padding: 5px 20px 5px 20px
}
.tournament-left-tickets:hover{
    transform: scale(1.1);
    transition: ease-in;
    
}

.tournament-main-content-right{
    width: 66.666667%; 
    background-color: #1E40AF; 
}

@media (max-width: 600px) {
    .tournament-section{
        display: flex; 
        flex-direction: column-reverse; 
        width: 100%; 
        margin-top: 1px;
    }
    .tournament-main-content-left{
        width: 100%; 
        background-color:  #4F7942 ;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1px;
        padding-bottom: 10px;
    }
    .tournament-left-title{
        color: #f6fa00;
    }
    
    .tournament-left-caption{
        margin: 20px 0px 20px 0px;
        font-size: 16px;
        text-align: center;
    }
    
    .tournament-left-tickets{
        border-radius: 4rem; 
        font-size: 16px;
        background-color: var(--blue);
        color: #fff;
        text-decoration: none;
        padding: 5px 20px 5px 20px
    }
    .tournament-left-tickets:hover{
        transform: scale(1.1);
        transition: ease-in;
        
    }
    
    .tournament-main-content-right{
        width: 100%; 
        background-color: #1E40AF; 
    }
}

/* --Tournament section End-- */

/* Slider styles */
.home .poster .slider {
    overflow: hidden;
    width: 100%;
}

.home .poster .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.home .poster .match {
    min-width: 100%;
    box-sizing: border-box;
}

.home .poster .navigation-button {
    text-align: center;
    position: relative;
}

.home .poster .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.home .poster .active, .dot:hover {
    background-color: #717171;
}

.home .about-section {    
    text-align: center; 
    padding: 5% 9%; 
    background-color: #eee;
}

.home .about-section .container .whole {
    display: flex;
    flex-direction: row;
}

.home .about-section .container .whole img {
    width: 50%;
    height: 30%;
    margin-right: 5rem;
}

.home .about-section .container {
    font-size: 2.0rem;
    line-height: 1.5;
    text-align: left;
}

.home .about-section .container #features {
    position: relative;
    display: flex;
}

#features {
    background-color: white;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 9%;
    font-size: 2rem;
}

.feature-box {
    text-align: center;
}

.icon {
    color: var(--blue);
    margin-bottom: 1rem;
}

.icon:hover {
    color: var(--black);
}
/* End Homepage styles*/

/*Ticket button style*/
.ticket {
    margin-top: 20px;
    color: var(--blue);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-style: italic;
}

.ticket:hover {
    /* color: var(--yellow); */
    letter-spacing: .1rem;
}

.ticket i {
    margin-left: 20px;
}
/*End Ticket button style*/

/*Clubs page styles*/
.teams {
    padding: 5% 0%;
    background-color: #eee;
}

.teams .container {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.teams .row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.teams .col-lg-3 {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 15px;
    background-image: url('../images/alternating-arrowhead.svg');
    background-repeat: repeat; 
    background-size: contain; 
    background-position: center;
    border: .1rem solid var(--light-color);
}

.teams .col-lg-3:hover {
    letter-spacing: .1rem;
    transform: scale(1.02);
    opacity: 0.8;
}

.team-member {
    display: flex;
    flex-direction: column;
}

.teams img {
    width: 100%;
    height: 200px;
}

.inner-div {
    text-align: center;
}

.inner-div h3 {
    color: black;
    padding: 10px;
}

.player-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.player-view .more-info {
    font-size: 2rem;
    text-align: center;
}
/* End club page styles*/

/*Finance page styles*/
.dashboard, #transparency {
    text-align: center;
    font-size: 2rem;
    padding: 50px 0;
}

/* #hero {
    background: url('../images/pexels-pixabay-46798.jpg') no-repeat center center/cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
} */

#hero {
    height: fit-content;
    height: 100vh;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 7%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Crect fill='%2300b7ff' width='1080' height='900'/%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
}

#hero div {
    text-align: center;
}

#hero img {
    width: 50%;
    height: 50%;
}

#hero p {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 5px;
    color: black;
}

#hero .btn {
    margin: 1rem;
}

.dashboard {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.metric-card {
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    width: 30%;
}

.metric-card h3 {
    margin-bottom: 10px;
    color: var(--green);
    font-size: 1.6rem;
}

.metric-card p {
    font-size: 24px;
    font-weight: bold;
    color: var(--black);
}

.chart-container {
    background-color: #eee;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 50px;
}

#transparency {
    background-color: #eee;
    line-height: 1.6;
    padding: 50px;
}

#transparency .top {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    text-align: left;
}

#transparency .data-collection-verification, #transparency .commitment-accountability {
    padding: 0 7%;
}

#transparency ul {    
    margin-left: 30px;
}

#transparency .commitment-accountability {
    margin-top: 40px;
    text-align: left;
}

#transparency .commitment-accountability h3 {
    text-align: center;
}

.more-info {
    margin-top: 20px;
}

#transparency .trans {
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#transparency ul {
    list-style-type: none;
    padding: 0;
}

#transparency ul li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
    font-size: 1.05em;
}

#transparency ul li:before {
    content: "✔";
    color: var(--green);
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}

#transparency strong {
    color: var(--green);
    font-weight: bold;
}
/*End Finance Page styles*/

/*Fixtures page styles*/

.fixtures {
    font-size: 2rem;
    padding: 2% 9%;
    background-color: #eee;
}

.fixtures .container {
    margin: 0 auto;
    padding: 20px 0;
}

.fixtures  h2 {
    text-align: center;
    margin-bottom: 20px;
}

.fixtures .fixture {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fixtures .fixture .inner-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.fixtures  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixture .date {
    text-align: center;
}

.fixtures .team span {
    margin-top: 10px;
}

.fixtures  .team img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.fixtures  .team-name {
    font-weight: bold;
    margin-right: 10px;
}

.fixtures .vs {
    font-size: 1.6rem;
    margin-right: 10px;
    border: 1px solid var(--light-color);
    padding: 10px;
}

.date {
    font-size: 14px;
}

.date .date-fix, .venue {
    font-weight: bold;
}

.date .comp {
    color: var(--light-color);
}

/*Results section*/
.results-section {
    font-size: 2rem;
}

.results-section .container {
    margin: 0 auto;
    padding: 20px 0;
}

.results-section .fixture {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.results-section .fixture .inner-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.results-section  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-section .fixture .date {
    text-align: center;
}

.results-section .fixtures .team span {
    margin-top: 10px;
}

.results-section  .team img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.results-section  .team-name {
    font-weight: bold;
    margin-right: 10px;
}

.results-section .vs {
    font-size: 2rem;
    margin-right: 10px;
    border: 1px solid var(--light-color);
    padding: 10px;
    width: 100%;
}

.results-section .date {
    font-size: 14px;
}

.results-section .date .date-fix, .venue {
    font-weight: bold;
    margin-top: 5px;
}

.results-section .date .comp {
    color: var(--light-color);
}  

.results-section .goal-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0 ;
    margin-top: 20px;
    color: var(--light-color);
    font-weight: bold;
}

.results-section .goal-details i {
    color: var(--black);
}

.results-section .demo {
    text-align: center;
}

/*Media queries*/
@media (max-width: 1200px) {
    #hero {
        padding: 2rem;
    }
}

@media (max-width: 1100px) {

    .order, .fixtures {
        padding-top: 5%;
    }
}

@media (max-width: 1050px) {
    
    #transparency .trans {
        float: right;

    }
    #transparency .top-text {
        padding: 0 1rem;
    }
}

@media (max-width: 1020px) {
    .highlights .heading {
        margin-top: 5%;
    }
    
    .teams .row {
        padding: 3%;
    }
}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    .home .about-section .container .whole {
        display: flex;
        flex-direction: column;
    }

    .home .about-section .container .whole .para {
        text-align: justify;
    }
    
    .home .about-section .container .whole img {
        width: 100%;
        height: 30%;
        margin-right: 5rem;
    }    
    
}

@media (max-width: 930px) {
    .table .heading {
        margin-top: 10%;
    }
}

@media (max-width: 880px) {
    .highlights .heading {
        margin-top: 10%;
    }    

    #transparency .trans {
        width: 40%;
        object-fit: cover;
    }

    .wrapper-div {
        width: 90%;
    }

    .wrapper-div .members .team-mem {
        flex-grow: 1;
    }
}

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    .table .heading {
        margin-top: 15%;
    }

    .fixtures .fixture .inner-team {
        width: 100%;
    }

    .results-section .date .date-fix, .venue {
        font-size: 1.3rem;
    }

}

@media (max-width: 680px) {
    .highlights .heading {
        margin-top: 15%;
    }

    #hero p {
        text-align: center;
    }
}

@media (max-width: 658px) {
    #features {
        display: flex;
        flex-direction: column;
    }

    .feature-box {
        width: 100%;
        margin-bottom: 20px;
    }

    #transparency .top {
        flex-direction: column;
    }

    #transparency .trans {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 620px){

    .fixtures .date {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .highlights .container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .teams .col-lg-3 {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media (max-width: 550px) {
    .highlights .heading {
        margin-top: 20%;
    }

    .home .poster .team img {
        width: 100px;
    }

}

@media (max-width: 520px) {

    #transparency .data-collection-verification, #transparency .commitment-accountability {
        padding: 0;
    }

    #transparency ul {
    
        margin-left: 10px;
    }

    .order, .fixtures, .teams {
        padding-top: 10%;
    }
}

@media (max-width: 465px) {
    .highlights .heading {
        margin-top: 25%;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .fixtures .team {
        display: flex;
        flex-direction: column;
    }

    .team-name {
        font-size: 1.2rem;
    }

    .results-section .date .date-fix, .venue {
        font-size: 1.1rem;
    }

    .results-section .goal-details {
        font-size: 1.2rem;
    }

}

@media (max-width: 430px) {

    .fixtures .heading {
        margin-top: 15%;
    }

    .ticket {
        font-size: 2.0rem;
    }

    #hero div {
        text-align: center;
    }
    
}

@media (max-width: 400px) {

    .highlights .heading {
        margin-top: 30%;
    }

    .fixtures  .team img {
        width: 40px;
        height: 40px;
    }

    .results-section .date .date-fix, .venue {
        font-size: 0.9rem;
    }

    .results-section .goal-details {
        font-size: 0.9rem;
    }

    .teams .col-lg-3 {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media (max-width: 350px) {
    .highlights .heading {
        margin-top: 35%;
    }

    #hero .btn {
        font-size: 1.4rem;
    }

    .home .poster .team img {
        width: 80px;
    }
}